@{
    ViewData["Title"] = "Eliminar producto";
}

@model Presupuesto

<p>Esta seguro que desea eliminar el siguiente presupuesto?</p>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Destinatario</th>
            <th scope="col">Fecha de Creación</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
        </tr>
    </thead>
    <tbody>
        @{
            int cant = Model.Detalle.Count + 1;
        }
        <tr>
            <td rowspan="@cant">@Model.Id</td>
            <td rowspan="@cant">@Model.Cliente.Nombre</td>
            <td rowspan="@cant">@Model.FechaCreacion.ToString("dd/MM/yyyy")</td>
            @foreach (var detalle in Model.Detalle)
            {
                <tr>
                    <td>@detalle.Producto.Descripcion</td>
                    <td>@detalle.Cantidad</td>
                </tr>
            }
        </tr>
    </tbody>
</table>

<form class="row g-3" asp-controller="Presupuestos" asp-action="EliminarConfirm">
    <input type="hidden" name="id" asp-for="@Model.Id"> @{ /*para que mande el id, poner el name con el mismo nombre del parametro de EliminarConfirm*/}
    
    <div class="col-12">
        <button type="submit" class="btn btn-outline-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
            </svg>
            Eliminar
        </button>
    </div>
</form>