@{
    ViewData["Title"] = "Listado presupuestos";
}

@model List<Presupuesto>

<a asp-action="Crear" class="text-decoration-none">Crear nuevo presupuesto</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Destinatario</th>
            <th scope="col">Fecha de Creación</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var presupuesto in Model)
        {
            int cant = presupuesto.Detalle.Count + 1;
            <tr>
            
                <td rowspan="@cant">@presupuesto.Id</td>
                <td rowspan="@cant">@presupuesto.Cliente.Nombre</td>
                <td rowspan="@cant">@presupuesto.FechaCreacion.ToString("dd/MM/yyyy")</td>
                <td rowspan="@cant"><a asp-action="Eliminar" asp-route-id="@presupuesto.Id" class="text-decoration-none">Eliminar</a></td>
                <td rowspan="@cant"><a asp-action="AsignarProducto" asp-route-id="@presupuesto.Id" class="text-decoration-none">Asignar producto</a></td>
                <td rowspan="@cant"><a asp-action="Modificar" asp-route-id="@presupuesto.Id" class="text-decoration-none">Modificar</a></td>
                @foreach (var detalle in presupuesto.Detalle)
                    {
                        <tr>
                            <td>@detalle.Producto.Descripcion</td>
                            <td>@detalle.Cantidad</td>
                        </tr>
                    }
            </tr>
        }
    </tbody>
</table>
